@tailwind base;
@tailwind components;
@tailwind utilities;

/* Load font files without renaming */
@font-face {
  font-family: "Proxima Nova";
  src: url("/fonts/ProximaNova/Mark Simonson - Proxima Nova.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("/fonts/ProximaNova/Mark Simonson - Proxima Nova Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("/fonts/ProximaNova/Mark Simonson - Proxima Nova Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-sans;
  }
}
