/* Frontend (CSS) - /client/assets/styles.css */
nav {
    background-color: #333;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

h1 {
    text-align: center;
    margin-top: 50px;
}

.element {
    width: 300px;
    height: 108px;
    background-image: url('https://www.pngkey.com/png/full/535-5356196_towson-university-logo.png');
    background-size: cover;
    background-position: top right;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: 0;
}

html {
    background: url('https://wallpaperaccess.com/full/1098290.jpg') no-repeat center fixed;
    background-size: cover;
}