---
import Footer from "@/components/Footer.tsx";
import Header from "@/components/Header.tsx";
import "@/styles/globals.css";

import { Toaster } from "@/components/ui/toaster";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="flex flex-col min-h-screen font-sans antialiased bg-background scrollbar-thumb-primary scrollbar-thin scrollbar-track-secondary">
    <Toaster client:load />
    <Header client:load />
    
    <main class="flex items-center justify-center flex-grow">
      <slot />
    </main>

    <Footer />
  </body>
</html>

<style is:global>
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }

  @keyframes moveLines {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}

.bg-lines {
  background-image: repeating-linear-gradient(
    45deg,
    #facc15 0px,
    #facc15 2px,
    transparent 2px,
    transparent 20px
  );
}

.animate-lines {
  animation: moveLines 15s linear infinite;
}

</style>
